appdirs==1.4.0
autopep8==1.2.4
fuzzywuzzy==0.14.0
gitdb2==2.0.0
GitPython==2.1.1
lxml==3.7.2
nltk==3.2.2
packaging==16.8
pep8==1.7.0
pyparsing==2.1.10
PyPDF2==1.26.0
pyuca==1.1.2
PyYAML==3.12
regex==2017.2.8
six==1.10.0
smmap2==2.0.1
urllib3==1.20
Whoosh==2.7.4
xml2json==1.1
xmltodict==0.10.2
